body{
    background: url(Assets/BackGround\ Scene\ 4.svg);
    background-size:cover;
}
.svg-container{
    width:30%;
    height: 30%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-75%);
    perspective: 1000px;
}
#Left_Wing_Layer_1{
    transform-origin: center;
    animation: LeftWingAnimate 3s ease-in-out infinite;
    
}
#Left_Wing_Layer_2{
    transform-origin: center;
    animation: LeftWingAnimate 3s ease-in-out infinite;
   
}
#Left_Wing_Layer_3{
    transform-origin: center;
    animation: LeftWingAnimate 3s ease-in-out infinite;
}
#Left_Wing_Layer_4{
    transform-origin: center;
    animation: LeftWingAnimate 3s ease-in-out infinite;
    opacity:0;
}

@keyframes LeftWingAnimate {
    0%{ transform: rotate3d(0,1,0,60deg);}
    50%{ transform: rotate3d(0,1,0,0deg);}
    100%{ transform: rotate3d(0,1,0,60deg);}
}

#Right_Wing_Layer_1{
    transform-origin: center;
    animation: RightWingAnimate 3s ease-in-out infinite;

}
#Right_Wing_Layer_2{
    transform-origin: center;
    animation: RightWingAnimate 3s ease-in-out infinite;
}
#Right_Wing_Layer_3{
    transform-origin: center;
    animation: RightWingAnimate 3s ease-in-out infinite;
}
#Right_Wing_Layer_4{
    transform-origin: center;
    animation: RightWingAnimate 3s ease-in-out infinite;
    opacity:0;
}

@keyframes RightWingAnimate {
    0%{ transform: rotate3d(0,1,0,-60deg);}
    50%{ transform: rotate3d(0,1,0,0deg);}
    100%{ transform: rotate3d(0,1,0,-60deg);}
}