*{
    margin: 0%;
    padding: 0%;
}
.fullscreen{
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.animation-window{
    overflow: hidden;
}
.animation-background{
    background-image: url('../assets/Background.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    opacity: 0.7;
}
body{
    /* background-image: url('Background.svg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.posabs{
    padding: 0 10px;
    position: absolute;
    left:50%;
    transform-origin: center;
}
/* Scene-1 */
.scene-1 .svg-stroke{
    opacity:0;
    animation: fadein 4s 7s forwards;
}

.scene-1 .svg-fill{
    opacity:0;
}
/* Scene-2 */
#Scene-2-Doc-Stroke-1{
    opacity: 0;
}
#Scene-2-Doc-Stroke-2{
    opacity: 0;
}
#Scene-2-Doc-Stroke-3{
    opacity: 0;
}
#Scene-2-Stroke-Nurse{
    opacity: 0;
}
#Scene-2-Nurse{
    opacity: 0;
}
#Scene-2-Doc-1{
    opacity: 0;
}
#Scene-2-Doc-2{
    opacity: 0;
}
#Scene-2-Doc-3{
    opacity: 0;
}
#Scene-2-Desk{
    opacity: 0;
}
#Scene-2-Callout-Bubble{
    opacity: 0;
}
#Scene-2-Background{
    opacity: 0;
}
#Scene-2-Plant{
    opacity: 0;
}
#Scene-2-Doc-Head{
    transform-origin: bottom;
}
/* Scene-3 */
.Scene-3-Stroke-6{
    opacity: 0;
}
#Scene-3-Background{
    opacity:0;
}
#Scene-3-Stars{
    opacity:0;
}
#Scene-3-Desk{
    opacity:0;
}
#Scene-3-Rocket{
    opacity: 0;
}
#Scene-3-Scaffold{
    opacity: 0;
}
#Scene-3-Smoke-Group{
    transform: translateY(10%);
}
#Scene-3-Smoke-1{
    transform: scale(0);
    transform-origin: bottom center;
}
#Scene-3-Smoke-2{
    transform: scale(0);
    transform-origin: bottom center;
}
#Scene-3-Smoke-3{
    transform: scale(0);
    transform-origin: bottom center;
}
#Scene-3-Smoke-4{
    transform: scale(0);
    transform-origin: bottom center;
}

/* Scene-4 */
.scene-4 .svg-stroke{
    opacity: 0;
}
.scene-4 .svg-fill{
    opacity:0;
}
#Scene-4-Gear-1{
    transform-origin: 530px 96px;
}
#Scene-4-Gear-2{
    transform-origin: 600px 135px;
}
#Scene-4-Gear-3{
    transform-origin: 540px 175px;
}
#Scene-4-Gear-4{
    transform-origin: 310px 222px;
}
#Scene-4-Gear-5{
    transform-origin: 265px 210px;
}
#Scene-4-Gear-6{
    transform-origin: 290px 185px;
}
#Scene-4-Right-Robot-Arm{
    transform-origin: 648px 238px;
}
#Scene-4-Left-Robot-Arm{
    transform-origin: 130px 210px;
    transform: rotateY(30deg);
}

/* Scene-5 */
.scene-5 .svg-stroke{
    opacity: 0;
}
#Scene-5-Character{
    opacity:0;
}
#Scene-5-Plants{
    opacity:0;
}
#Scene-5-Background{
    opacity:0;
}
#Scene-5-Desk{
    opacity:0;
}
#Scene-5-Think-Bubble{
    transform-origin: 247.644px 124.597px;
    transform: scale(0);
}
#Scene-5-Bubble-1{
    transform-origin: 325.758px 217.039px;
    transform: scale(0);
}
#Scene-5-Bubble-2{
    transform-origin: 308.78px 243.248px;
    transform: scale(0);
}
/* Scene-6 */
.ibeto-logo-animation{
    box-sizing: border-box;
    width:50%;
    position: absolute;
    top:50%;
    left:50%;
    padding: 40px;
    transform-origin: center;
    transform: translate(-50%,-50%);
    perspective: 10000px;
    opacity: 0;
    z-index: 10;
}
#Back_Wing{
    transform-origin:40% 71%;
    animation: LeftWingAnimate 3s ease-in-out infinite;
    
}
@keyframes LeftWingAnimate {
    0%{ transform: scale(1) rotateX(60deg);
        opacity:0.5;
    }
    50%{ transform: scale(1) rotateX(20deg) ;
        opacity:1;     
    }
    100%{ transform:scale(1)  rotateX(60deg);
        opacity:0.5;}
}
#Front_Wing{
    transform-origin: 40% 71%;
    animation: RightWingAnimate 3s ease-in-out infinite;
}
@keyframes RightWingAnimate {
    0%{ transform: rotate3d(1,0,0,-80deg);}
    50%{ transform: rotate3d(1,0,0,-20deg);}
    100%{ transform: rotate3d(1,0,0,-80deg);}
}
/* Text Animation */

  
.output {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    font-family: 'Source Code Pro', monospace;
    color:black;
    width: 90%;
  }
    h1 {
        font-size:50px;
      font-weight: lighter;
    }
  
  /* Cursor Styling */
  
  .cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:black;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
  h1.cursor::after {
    height:50px;
    width:2px;
  }

  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }
#text-1{
    opacity: 0;
}
#text-2{
    opacity: 0;
}
#text-3{
    opacity: 0;
}
#text-4{
    opacity: 0;
}
#text-5{
    opacity: 0;
}
#text-6{
    opacity: 0;
}
#text-7{
    opacity: 0;
}
#text-8{
    opacity: 0;
}
#text-9{
    opacity: 0;
}
#text-10{
    opacity: 0;
}
#text-11{
    opacity: 0;
}
#text-12{
    opacity: 0;
}
#text-13{
    opacity: 0;
}
#text-14{
    opacity: 0;
}
.animation-text{
    padding: 0 20px;
    bottom: 50px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    z-index: 6;
    color: rgb(0, 0, 0);
}
.scene-1 .posabs{
    width:600px;
    top: 10%;
    transform: translate(-50%,-10%);
}
.scene-2 .posabs{
    width:600px;
    top: 50%;
    transform: translate(-50%,-50%);
}
.scene-3 .posabs{
    width:550px;
    top: 10%;
    transform: translate(-50%,-10%);
}
.scene-4 .posabs{
    width:700px;
    top: 50%;
    transform: translate(-50%,-50%);
}
.scene-5 .posabs{
    width:550px;
    top: 20%;
    transform: translate(-50%,-20%);
}
@media only screen and (max-width: 768px) {
    .scene-1 .posabs{
        width:600px;
        top: 10%;
        transform: translate(-50%,-10%);
    }
    .scene-2 .posabs{
        width:600px;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .scene-3 .posabs{
        width:550px;
        top: 10%;
        transform: translate(-50%,-10%);
    }
    .scene-4 .posabs{
        width:700px;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .scene-5 .posabs{
        width:550px;
        top: 20%;
        transform: translate(-50%,-20%);
    }
}
@media only screen and (orientation: portrait) and (max-width: 768px) {
    .scene-1 .posabs{
        width:100%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .scene-2 .posabs{
        width:100%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .scene-3 .posabs{
        width:100%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .scene-4 .posabs{
        width:100%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .scene-5 .posabs{
        width:100%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .ibeto-logo-animation{
        width: 100%;
    }
}
@media only screen and (max-width: 1100px) {
    .animation-text{
        font-size: 18px;
    }
}
@media only screen and (max-width: 1500px) {
    .animation-text{
        font-size: 22px;
    }
}
@media only screen and (max-width: 800px) {
    .animation-text{
        font-size: 26px;
    }
}
@media only screen and (max-width: 500px) {
    .animation-text{
        font-size: 18px;
        width: 90%;
    }
    .output h1{
        font-size: 30px;
    }
    h1.cursor::after {
        height:25px;
        width:2px;
      }
}

@media only screen and (orientation: landscape) and (max-width: 850px) and (max-height:480px){
    .animation-text{
        font-size:22px;
    }
    .posabs{
        margin-top: 20px;
    }
    .scene-1 .posabs{
        width:270px;
        top: 0%;
        padding: 0%;
        transform: translate(-50%,0%);
    }
    .scene-2 .posabs{
        width:400px;
        top: 0%;
        padding: 0%;
        transform: translate(-50%,0%);
    }
    .scene-3 .posabs{
        width:270px;
        top: 0%;
        padding: 0%;
        transform: translate(-50%,0%);
    }
    .scene-4 .posabs{
        width:400px;
        top: 0%;
        padding: 0%;
        transform: translate(-50%,0%);
    }
    .scene-5 .posabs{
        width:270px;
        top: 0%;
        padding: 0%;
        transform: translate(-50%,0%);
    }
}
