* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

body, html {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-size: 1rem; */
    font-weight: 400;
    /* color: #777; */
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /*added on may 14 for smooth scrolling on clicking the navbar links*/
}

/* section {
    min-height: 100vh;
} */

h1 {
    font-size: 2rem;
    color: #555;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    /* color: #333; */
    font-weight: bold;
    color: rgb(64, 125, 225);
}

section {
    width: 100%;
}

/* navbar */

nav {
    --duration: .2s;
    --easing: ease-in-out;
    position: fixed;
    width: 220px;
    margin: 20px;
    z-index: 10;
    right: 0;
    /*added on 12th may*/
    transition-delay: .9s;
    border-style: solid;
    border-color: transparent;
}

nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: -4px 0 0 0;
}

nav a {
    display: block;
    text-decoration: none;
    /*background: #fff;*/
    /*changed on 6th may*/
    /*background: rgb(255, 255, 255); removed on OCT 31*/
    background: white;/*rgb(234, 255, 255);*/
    /*added on OCT 31*/
    /*changed on 6th may*/
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    padding: 1em 1.52em;
    /*6th may evening*/
    color: black;
    /*box-shadow: 0 10px 15px 2px rgba(47, 196, 255, 0.4);      removed on OCT 31*/
    box-shadow: 0px 3px 8px 0px rgba(0,0,0, 0.4);
    /*added on OCT 31*/
}

nav a:hover {
    background: #efefef;
}

/*added on 12th may*/

nav.closed {
    border-radius: unset;
    border-style: unset;
    border-color: unset;
}

nav.closed a:hover {
    /*added to remove on-hover colour change of navbar icon*/
    background: #fff;
}

nav .sub-menu a {
    font-size: .9em;
    color: #666666;
    border-left: 2em solid white;
    padding: .75em;
    background: linear-gradient(to right, #dddddd 2px, #ffffff 2px);
}

nav .sub-menu a:hover {
    background: linear-gradient(to right, #dddddd 2px, #efefef 2px);
}

nav header {
    font-weight: 600;
    display: block;
    /*background: rgba(255, 255, 255, 0.5); */
    /*changed on 6th may*/
    /*background: white;  removed on OCT 31*/
    background: white;/*rgb(255, 239, 234);
    /*added on OCT 31*/
    /*changed on 6th may*/
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    padding: 1em 1.52em;
    color: rgba(0, 0, 0, 0.5);
    /*6th may evening
    
    box-shadow:20px 20px 25px rgb(47,196,255);*/
    /*box-shadow: 0 10px 15px 2px rgba(47, 196, 255, 0.4);      removed on OCT 31*/
    box-shadow: 0px 3px 8px 0px rgba(0,0,0, 0.4);
    /*added on OCT 31*/
    -webkit-tap-highlight-color: transparent;
}

nav header span {
    border: none;
    background: transparent;
    font-size: 1.5em;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    float: right;
    margin-top: -3.5px;
}

nav footer button {
    position: absolute;
    top: 0;
    border: none;
    padding: calc(1em - 2px);
    width: 100%;
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing);
    transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
    cursor: pointer;
    outline: none;
    background: #cdcdcd;
    opacity: 0;
    -webkit-tap-highlight-color: transparent;
}

nav.closed a, nav.closed header {
    transform: translateY(calc(var(--top) * -1)) translateX(calc(var(--left)* -0.75)) scaleY(0.1) scaleX(0.2);
    transition-delay: var(--delay-in);
    color: transparent;
    /*box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.4);*/
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}

nav.closed footer button {
    transition-delay: 0s;
    transform: scaleY(1) scaleX(0.45);
}

/*modification made for click oversized*/

nav.closed footer button {
    width: 50%;
    margin-right: 40%;
    margin-left: 81%;
}

/* about section */

#about-section {
    margin-top: 100vh;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 20rem;
}

.about-image {
    display: flex;
}

.about-frame {
    height: 12rem;
    width: 12rem;
    /* background-color: #4EC7E3; */
    background-color: rgb(64, 125, 225);
    margin: -3rem;
    position: absolute;
    z-index: -99;
}

.about-icon {
    padding: 4rem;
    width: auto;
    height: 22rem;
    -webkit-box-shadow: 1px 0px 16px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 0px 16px -10px rgba(0, 0, 0, 1);
    box-shadow: 1px 0px 16px -10px rgba(0, 0, 0, 1);
    /* border: solid 1px #4EC7E3;
    -webkit-box-shadow: 0px 0px 6px -1px #4EC7E3;
    -moz-box-shadow: 0px 0px 6px -1px #4EC7E3;
    box-shadow: 0px 0px 6px -1px #4EC7E3; */
    background-color: white;
}

.about-text {
    padding: 2rem;
    min-width: 38rem;
    color: #121212;
}

.about-header {
    padding: 1rem;
    padding-left: 1.5rem;
}

.about-header>h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.about-body>p {
    padding: 0.7rem;
    padding-left: 1.5rem;
    line-height: 26px;
    font-size: 15px;
}

.about-extra {
    background-color: #4EC7E3;
    color: white;
    height: 4rem;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.about-buttons {
    display: flex;
    color: white;
    padding: 1rem 0;
}

.about-buttons a {
    margin-left: 1rem;
}

.about-buttons div {
    padding: 1rem;
    margin: 0 1rem;
    min-width: 7rem;
    height: max-content;
    border-radius: 4px;
    /* transition-duration: 0.3s; */
}

.about-register {
    /* background-color: #4e71e3; */
    background-color: rgb(64, 125, 225);
    /* box-shadow: 1px 1px 10px #4e71e3aa; */
    box-shadow: 1px 1px 10px rgb(64, 125, 225);
}

.about-register:hover {
    background-color: #4ebbe3;
    box-shadow: 5px 5px 20px #4ebbe3bb;
    /* transform: scale(1.1); */
    cursor: pointer;
}

/* event-format section */

#event-format {
    min-height: 100vh;
    height: auto;
}

.event-section-header {
    text-align: center;
}

.event-section-header>h1 {
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.event-section-header>h4 {
    font-weight: 500;
    padding: 1rem;
}

.event-format-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 10%;
    margin-top: 50px;
    width: auto;
}

.event-format-container h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

.event-format-container h4 {
    font-size: 1.25rem;
    font-weight: 500;
}

.event-format-card {
    display: flex;
    background-color: white;
    color: #121212;
    line-height: 1.5;
}

.event-card {
    text-align: center;
    color: #121212;
    /* border: solid 0.5px #4EC7E3; */
    border-radius: 6px;
    width: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 3rem;
    /* -webkit-box-shadow: 0px 0px 14px -6px rgba(78, 199, 227, 1);
    -moz-box-shadow: 0px 0px 14px -6px rgba(78, 199, 227, 1);
    box-shadow: 0px 0px 14px -6px rgba(78, 199, 227, 1); */
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.34);
}

/* .event-format-card :hover {
    background-color: #4EC7E3;
    color: white;
    transition: 0.5s ease-in;
    cursor: pointer;
} */

.event-format-icon {
    /* margin-top: -6rem; */
    max-width: 10rem;
    max-height: 10rem;
    /* border-radius: 50%; */
    /* border: solid 3px #f3f4f3; */
    background: white;
}

.event-format-header, .event-format-subheader, .event-format-body {
    padding: 1.5rem 0;
}

.event-format-body {
    font-size: 15px;
}

/* problem statements section */

#problem-statements {
    height: auto;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.problem-statements-container {
    display: flex;
    padding: 4rem 4rem;
    margin: 0 2rem;
}

.problem-statements-text {
    width: 60rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: #555; */
    color: black;
}

.problem-statements-header>h2 {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 2rem 0rem;
}

.problem-statements-header>h3 {
    font-weight: 400;
    /* color: #555; */
    color: black;
    font-size: 1.5rem;
    padding-right: 6rem;
}

.problem-statements-image {
    padding: 4rem 6rem;
}

.problem-statements-icon {
    max-width: 22rem;
}

.problem-statements-list {
    padding: 1rem 2rem;
    font-size: 1.3rem;
}

.problem-statements-list li {
    line-height: 2rem;
}

.problem-statements-buttons {
    display: flex;
    color: white;
    padding: 1rem 0;
}

/* .problem-statements-buttons a {
    margin-left: 1rem;
} */

.problem-statements-buttons div {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 0 1rem;
    min-width: 7rem;
    height: max-content;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.problem-statements-register {
    background-color: #4e71e3;
    box-shadow: 1px 1px 10px #4e71e3aa;
}

.problem-statements-register:hover {
    background-color: #4ebbe3;
    box-shadow: 5px 5px 20px #4ebbe3bb;
    transform: scale(1.1);
    cursor: pointer;
}

.problem-statements-rules {
    background-color: #db2523;
    box-shadow: 1px 1px 10px #db2523aa;
}

.problem-statements-rules:hover {
    background-color: #f84642;
    box-shadow: 5px 5px 20px #f84642bb;
    transform: scale(1.1);
    cursor: pointer;
}

/* rewards section */

#rewards {
    height: auto;
    /* min-height: 70vh; */
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.rewards-container {
    display: flex;
    /* height: 100%; */
    margin: 2rem;
    padding: 2rem 0;
    /* background-color: #4e71e3; */
    /* box-shadow: -15px 20px 50px #72727266; */
    /* border-radius: 6px; */
}

.rewards-image {
    padding: 7rem;
    display: flex;
}

.rewards-icon {
    max-width: 22rem;
    /* border-radius: 12px; */
    /* box-shadow: -15px 20px 50px #002cbdbb; */
}

.rewards-text {
    width: 60rem;
    padding: 2rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: white; */
}

.rewards-list {
    padding-left: 1rem;
}

.rewards-list li {
    line-height: 2.5rem;
}

.rewards-header>h2 {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 2rem 0rem;
}

/* ibeto jr */

#ibetojr {
    min-height: 50vh;
    height: auto;
    /* width: 100%; */
    /* background: #4ebbe3bb; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area {
    background: #4EC7E3;
    /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
    width: 100%;
    height: 60vh;
}

.context {
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: transparent;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
    margin: 3rem;
}

.context h2 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem;
}

.circles {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* sponsors */

.sponsor {
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.sponsor-container {
    display: flex;
    /* grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%; */
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    /* padding-left: 10%; */
}

.title-sponsor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-sponsor img {
    height: 50%;
    width: 50%;
}

/* contacts  */

#contacts {
    /* min-height: 100vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #f2f2f2; */
}

.contact-container {
    padding: 2rem 1rem;
}

.contact-row {
    /* padding: 2rem 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-cards {
    width: 30rem;
    margin: 1rem 3rem;
    padding: 1rem 4rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 20px #4EC7E3bb; */
    -webkit-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.34);
}

.contact-img {
    display: flex;
    justify-content: center;
}

.contact-img>img {
    max-height: 9rem;
    max-width: 9rem;
    border-radius: 100%;
    margin: 1rem 0.5rem;
}

.contact-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.contact-desc>a {
    padding: 5px 0;
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

.designation {
    font-size: 1rem !important;
}

.contact-links {
    font-size: 0.9rem !important;
    white-space: nowrap;
}

.contact-links:hover {
    color: grey;
    text-decoration: underline;
    transition: 1s;
}

.footer .footer_bottom p {
    background: #232323 none repeat scroll 0 0;
    color: #cacaca;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    line-height: 75px;
    /* margin: 70px 0 0; */
    padding: 0;
    text-align: center;
}

@media only screen and (min-width:1500px) {
    .event-format-container {
        margin: 0 20%;
        margin-top: 50px;
    }
    .problem-statements-header>h3 {
        padding-right: 8rem;
    }
}

@media only screen and (min-width:1220px) and (max-width: 1370px) {
    .about-text {
        min-width: 40rem;
        margin-left: 3rem;
        padding: 0rem;
    }
    .about-header {
        padding: 0rem;
    }
    .about-body>p {
        padding: 0.5rem;
        padding-left: 0rem;
    }
    .about-icon {
        padding: 3rem;
        width: auto;
        height: 18rem;
    }
    .about-buttons div {
        margin: 0rem;
    }
    .problem-statements-image {
        padding: 4rem 0rem;
        padding-left: 8rem;
    }
    .problem-statements-icon {
        max-width: 19rem;
    }
    .problem-statements-text {
        width: 55rem;
    }
    .rewards-image {
        padding: 4rem 3rem;
        padding-left: 5rem;
    }
    .rewards-icon {
        max-width: 15rem;
    }
    .rewards-text {
        width: 50rem;
    }
    .contact-cards {
        width: 25rem;
    }
    .designation {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 1220px) {
    /* about section  */
    #about-section {
        height: auto;
    }
    .about-container {
        flex-direction: column;
        padding: 1rem;
    }
    .about-image {
        display: none;
        justify-content: center;
    }
    .about-frame {
        display: none;
    }
    .about-icon {
        padding: 0rem;
        width: 15rem;
        height: 15rem;
        box-shadow: none;
    }
    .about-text {
        padding: 0rem;
        min-width: auto;
        font-size: 1.3rem;
        text-align: center;
    }
    .about-body>p {
        padding: 0.7rem;
        line-height: 1.9rem;
    }
    .about-extra {
        margin: auto;
    }
    .about-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-buttons>div {
        /* padding: 1.5rem; */
        min-width: 8rem;
        margin: auto;
        margin-bottom: 1rem;
        text-align: center;
    }
    .about-buttons a {
        margin-left: 0;
        font-size: 17px;
    }
    /* event-format section  */
    #event-format {
        height: auto;
    }
    .event-card {
        padding: 0;
    }
    .event-section-header {
        padding: 2rem;
    }
    .event-format-container {
        grid-template-columns: repeat(1, 1fr);
        /* padding: 1rem; */
        grid-gap: 5rem;
    }
    .event-format-header>h3 {
        font-size: 25px;
    }
    .event-format-subheader>h4 {
        font-size: 20px;
    }
    .event-format-card {
        margin-top: 1.5rem;
        /* min-height: 30rem; */
        height: auto;
        line-height: 2rem;
    }
    .event-format-header {
        font-size: 1.6rem;
        padding: 1rem 0;
    }
    .event-format-subheader {
        font-size: 1.4rem;
        padding: 1rem 0;
    }
    .event-format-body {
        font-size: 15px;
        padding: 1.5rem 1.5rem 2rem 1.5rem;
    }
    .event-format-card :hover {
        background-color: white;
        color: #121212;
        transition: 0s;
    }

    .event-format-image{
        /* max-width: 30rem; */
    }

    /* problem-statements section */
    #problem-statements {
        min-height: 100vh;
        height: auto;
    }
    .problem-statements-container {
        flex-direction: column;
        /* width: auto; */
        /* justify-content: center;
        align-items: center; */
        margin-top: 5rem;
        padding: 0;
    }
    .problem-statements-text {
        width: auto;
        text-align: center;
        padding: 0;
    }
    .problem-statements-image {
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .problem-statements-icon {
        max-width: 12rem;
    }
    .problem-statements-list {
        text-align: left;
    }
    .problem-statements-buttons {
        flex-direction: column;
    }
    .problem-statements-header>h3 {
        font-size: 1.2rem;
        padding-right: 0;
    }
    .problem-statements-buttons>div {
        /* padding: 1.5rem; */
        min-width: 8rem;
        margin: auto;
        margin-bottom: 1rem;
        text-align: left;
    }
    .problem-statements-buttons a {
        font-size: 17px;
    }
    .problem-statements-list li {
        font-size: 1rem;
    }
    /* rewards */
    #rewards {
        margin: 0rem;
    }
    #rewards {
        height: auto;
    }
    .rewards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-radius: 0;
        padding-top: 7rem;
    }
    .rewards-text {
        width: auto;
        text-align: center;
        padding: 0;
    }
    .rewards-header>h2 {
        font-size: 2.5rem;
    }
    .rewards-image {
        padding: 0;
        justify-content: center;
    }
    .rewards-icon {
        max-width: 12rem;
    }
    .rewards-list {
        text-align: left;
        padding: 1rem 3rem;
    }
    .rewards-list li {
        color: black;
        font-size: 1rem;
        line-height: 2.5rem;
    }
    /* ibeto jr */
    .context h1 {
        text-align: center;
        color: #fff;
        font-size: 3rem;
        font-weight: 500;
        margin: 2rem;
    }
    /* sponsor */
    .sponsor {
        padding-top: 10vh;
        padding-bottom: 5vh;
    }
    .sponsor h1 {
        font-size: 2rem;
    }
    .sponsor-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* grid-template-columns: 30% 30% 30%; */
        /* grid-column-gap: 5%; */
        padding-top: 1vh;
        /* padding-left: 7%; */
    }
    .title-sponsor{
        display: flex;
        justify-content: center;

        padding: 30px 0;
    }
    .title-sponsor img {
        height: auto;
        width: 40%;
    }
    /* contact */
    .contact-container {
        margin: 0;
        padding: 0;
        padding-bottom: 5rem;
    }
    .contact-row {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .contact-cards {
        padding: 1rem;
        margin: 1rem;
        width: 20rem;
    }
    .contact-img>img {
        max-width: 6rem;
    }
    .contact-desc {
        padding: 1rem;
    }
    .contact-desc>a {
        font-size: 17px;
    }
    .designation {
        font-size: 15px !important;
    }
    .contact-links {
        font-size: 13px !important;
    }
}

@media only screen and (min-width:630px) and (max-width: 1200px) {
    .problem-statements-container {
        margin: 0 6rem;
    }
    .rewards-container {
        margin: 0 4rem;
    }
    .contact-cards {
        width: 30rem;
    }
    .contact-img>img {
        max-width: 9rem;
    }
    .contact-desc>a {
        font-size: 22px;
    }
    .designation {
        font-size: 19px !important;
    }
    .contact-links {
        font-size: 17px !important;
    }
}

.footerDiv {
    width: 100%;
    max-width: 100vw;
    height: 25vh;
    padding-top: 1em;
    background-color: #333;
    display: grid;
    grid-template-areas:
        "ibeto icon1 icon2 icon3 excel"
        ". brand brand brand .";
}

.footerIbeto {
    grid-area: ibeto;
    display: grid;
    margin: auto;
}

.icon1 {
    grid-area: icon1;
    margin: auto;
    margin-right: 0;
}

.icon2 {
    grid-area: icon2;
    margin: auto 0;
    text-align: center;
}

.icon3 {
    grid-area: icon3;
    margin: auto;
    margin-left: 0;
}

.footerExcel {
    grid-area: excel;
    display: grid;
    margin: auto;
}

.Excelbrand {
    grid-area: brand;
    display: grid;
    text-align: center;
}

.Excelbrand span {
    align-self: center;
    justify-self: center;
    color: white;
}

.Excelbrand-text {
    margin-left: 30px;
}

.footerIbeto img {
    justify-self: center;
    align-self: center;
    height: 5em;
}

.footerDiv a {
    color: white;
}

#special-icon {
    height: 50px;
    width: 50px;
}

.footerExcel img {
    justify-self: center;
    align-self: center;
    height: 5em;
}

@media only screen and (max-width: 500px){
.footerDiv {
    grid-template-areas:
        "ibeto . . . excel"
        ". icon1 icon2 icon3 ."
        ". brand brand brand .";
    height: 180px;
    padding-top: 15px;
    font-size: 12px;
}
.Excelbrand-text {
    margin-left: 0;
}

}

@media only screen and (max-width: 500px){
.footerDiv img {
    height: 42px;
}
}

@media only screen and (max-width: 500px){
#special-icon {
    height: 35px;
    width: 35px;
}
}