*{
    margin: 0;
    padding: 0;
}
.scene-text{
    position: absolute;
    bottom:3vh; 
    left:50%;
    transform: translateX(-50%);
    color: aliceblue;
    font-size: 40px;
    display: block;
    width:90%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* ---------------------------------SCENE-1--------------------------------------------------------------- */

.scene-1{
    position: absolute;
    top:0;
    bottom:0; 
    left:0; 
    right:0;
}
.scene-1 .scene-text{
    opacity:0;
    z-index: 8;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(3, 54, 18), 0 0 5px rgb(0, 255, 64)
}
.white-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.imagine-container{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    z-index: 7;
}
#imagine{
    width: 85vw ;
}
.night-sky-container{
    position: absolute;
    top:0;
    bottom:0; 
    left:0; 
    right:0;
    z-index: 1;
    opacity:0;
}

#Stars path{
    transform-origin: center center;
}
.IMAGINE-TEXT-1{
    opacity: 0;
    will-change: transform,opacity;
}

/* -----------------------------------SCENE-2---------------------------------------------------------- */

.scene-2{
    position: absolute;
    top:0;
    bottom:0; 
    left:0; 
    right:0;
    opacity: 0;
}


.scene-2 .scene-text{
    opacity:0;
    z-index: 18;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.believe-container{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    z-index: 15;
}
.underwater-container{
    position: absolute;
    top:0;
    bottom:0; 
    left:0; 
    right:0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    opacity:1;
}
#believe{
    width: 85vw ;
}

/* -----------------------------------SCENE-3---------------------------------------------------------- */
.scene-3{
    position: absolute;
    width: 100vw;
    top:100vh;
    bottom:0; 
    left:0; 
    right:0;
    overflow: hidden;
    background-color: #00598e;
}
.scene-3 .scene-text{
    opacity:0;
    z-index: 28;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 191), 0 0 5px rgb(139, 0, 12);
}
.achieve-container{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    z-index: 28;
    opacity: 0;
}

.svg-container-stroke{
    position: absolute;
    top:0;
    bottom:0; 
    left:0; 
    right:0;
    width: 100vw;
    height: 100vh;
    z-index: 21;
    opacity:1;
    overflow: visible;
}
.svg-container-stroke svg{
    transform: scale(1.4) rotate(13.5deg);
}
.svg-container-fill{
    position: absolute;
    overflow: visible;
    top:0;
    bottom:0; 
    left:0; 
    right:0;
    width: 100vw;
    height: 100vh;
    z-index: 25;
    opacity:0;
}
/* #neon-road-fill{
    transform-origin: center center;
} */
#achieve{
    width: 85vw ;
}
.NEON-ROAD-STROKE-13,.NEON-ROAD-STROKE-12,.NEON-ROAD-STROKE-11,.NEON-ROAD-STROKE-10,.NEON-ROAD-STROKE-9,.NEON-ROAD-STROKE-8,.NEON-ROAD-STROKE-7,.NEON-ROAD-STROKE-6,.NEON-ROAD-STROKE-5,.NEON-ROAD-STROKE-4,.NEON-ROAD-STROKE-3,.NEON-ROAD-STROKE-2,.NEON-ROAD-STROKE-1{
    stroke-width: 0.5;
    opacity: 0;
}

#Vehicle-a-Path-1{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: move 3000ms  infinite reverse ease-in-out;
    offset-path: path('M-6,86.72,481.78,67.59s124.53.06,184.37,105.28S801.63,420.8,801.63,420.8');
    will-change:unset;
}
#Vehicle-b-Path-1{
    opacity: 0;
}
#Vehicle-a-Path-2{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: move 2000ms  infinite linear;
    offset-path: path('M-9.9,118.28,483.33,99.21s95.36-4.6,147.31,76.29L762.83,420.8');
    will-change:unset;
}
#Vehicle-a-Path-3{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(120deg) scaleY(0.4);
    animation: move 3500ms  infinite reverse linear;
    will-change:unset;
    offset-path: path('M172.26-11.93l61.82,237.41c1,4,1.68,7.59,4,11.27a32.19,32.19,0,0,0,11.49,10.72c4.43,2.58,10,4,14,7.09a24.47,24.47,0,0,1,8.69,13.08c2.21,8.81-3.49,17.23-7.34,24.73-4,7.84-6.15,15.64-5.13,24.52L290,427.81');
}
#Vehicle-a-Path-4{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(120deg) scaleY(0.4);
    animation: move 4500ms  infinite linear;
    will-change:unset;
    offset-path: path('M146.28-19.68,211.64,229.6c1.14,4.36.69,9.29-.19,13.64a49.27,49.27,0,0,1-5.62,14.56,62.94,62.94,0,0,1-5.79,8.4c-4.72,5.83-8.42,9.57-8.29,17.64.16,10.71,8.69,16.69,17.91,19.39a42.15,42.15,0,0,1,17.77,10.3c4.64,4.7,5.79,10.08,7.46,16.19q4.55,16.56,9.08,33.13l12,44');
}
#Vehicle-a-Path-5{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(30deg) scaleX(0.4);
    animation: move 7000ms  infinite linear;
    will-change:unset;
    offset-path: path('M-9,361l199.15-59.49s15.07-4.34,27.32,9.19,27.32,10.47,27.32,10.47a32.34,32.34,0,0,0,23.74-23.74,31.07,31.07,0,0,1,23.49-23.24l720-192');
}
#Vehicle-a-Path-6{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(30deg) scaleX(0.4);
    animation: move 7000ms  infinite reverse linear;
    will-change:unset;
    offset-path: path('M-8.28,332.4l192.34-55.14s15.32-.35,23.15-22.81c3.13-9,7.57-22.42,19.23-22.09,5.68.16,10.9,2.69,15.54,6.11,5,3.65,8.3,9.24,13.58,12.39,8.61,5.14,19.83,2.21,28.25-1.86L1016.06,55.3');
}
#Vehicle-b-Path-6{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(30deg) scaleX(0.4);
    animation: move 7000ms 1000ms infinite reverse linear;
    will-change:unset;
    offset-path: path('M-8.28,332.4l192.34-55.14s15.32-.35,23.15-22.81c3.13-9,7.57-22.42,19.23-22.09,5.68.16,10.9,2.69,15.54,6.11,5,3.65,8.3,9.24,13.58,12.39,8.61,5.14,19.83,2.21,28.25-1.86L1016.06,55.3');
}
#Vehicle-a-Path-7{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(115deg);
    animation: move 2000ms  infinite linear;
    will-change:unset;
    offset-path: path('M906.85,411.59,736.52,109.08s-41.43-75,38.8-124.95');
}
#Vehicle-a-Path-8{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(115deg);
    animation: move 2000ms  infinite reverse linear;
    will-change:unset;
    offset-path: path('M868.05,418.17,708.78,124s-38.68-67.48,10-139.82');
}
#Vehicle-b-Path-8{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(115deg);
    animation: move 2000ms 1500ms infinite reverse linear;
    will-change:unset;
    offset-path: path('M868.05,418.17,708.78,124s-38.68-67.48,10-139.82');
}
#Vehicle-a-Path-10{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(15deg);
    animation: move 2000ms  infinite linear;
    will-change:unset;
    offset-path: path('M1014.05 187.99 L174.89 418.17');
}
#Vehicle-a-Path-9{
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transform: rotateZ(15deg);
    animation: move 2000ms  infinite reverse linear;
    will-change:unset;
    offset-path: path('M1014.05 214.3 L198.27 441.45');
}
@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
/* -----------------------------------SCENE-4---------------------------------------------------------- */
.scene-4{
    position: absolute;
    top:0;
    bottom:0; 
    left:0; 
    right:0;
    opacity: 0;
    background-image:url('../assets/BackGround\ Scene\ 4.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ibeto-logo{
    opacity: 0;
}

.ibeto-logo >img {
    max-width: 20vw;
}


            /* MEDIA QUERIES */


@media only screen and (max-width: 500px) {

    .scene-text{
        font-size: 25px;
    }

    .ibeto-logo >img {
        max-width: 50vw;
    }
}