* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    margin: 0;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #555;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

section {
    width: 100%;
}

/* about section */

.about-container {
    display: flex;
    flex-direction: row;
    padding: 5rem 7rem;
}

.about-image {
    display: flex;
}

.about-frame {
    height: 12rem;
    width: 12rem;
    background-color: #4EC7E3;
    margin: -3rem;
    position: absolute;
    z-index: -99;
}

.about-icon {
    padding: 8rem;
    width: 15rem;
    height: 15rem;
    box-shadow: -15px 20px 50px #72727266;
    background-color: white;
}

.about-text {
    padding: 2rem;
    min-width: 38rem;
    color: #121212;
}

.about-header {
    padding: 1rem;
    padding-left: 1.5rem;
}

.about-extra {
    background-color: #007BFF;
    color: white;
    height: 4rem;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.about-body > p {
    padding: 0.7rem;
    padding-left: 1.5rem;
    line-height: 26px;
}

/* event-format section */

.event-section-header {
    text-align: center;
    padding: 3rem;
}

.event-section-header > h1 {
    padding: 1rem;
    font-size: 3rem;
    font-weight: 500;
}

.event-format-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 7rem;
}

.event-format-card {
    display: flex;
    background-color: white;
    color: #121212;
}

.event-card {
    text-align: center;
    color: #121212;
    border: solid 1px #4EC7E3;
    border-radius: 6px;
    width: auto;

    display: flex;
    flex-direction: column;
    padding: 3rem;

    box-shadow: 5px 5px 20px #4EC7E3bb;
}

.event-format-card :hover {
    background-color: #4EC7E3;
    color: white;
    transition: 1s;
}

.event-format-icon {
    margin-top: -6rem;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;
    border: solid 1px#4EC7E3;
}

.event-format-header, .event-format-subheader, .event-format-body {
    padding: 1.5rem 0;
}

/* problem statements section */

.problem-statements-container {
    display: flex;
    padding: 2rem;
}

.problem-statements-text {
    padding: 1rem;
    color: #555;
}

.problem-statements-header > h2 {
    font-size: 3.5rem;
    font-weight: 400;
    padding: 2rem 0rem;
}

.problem-statements-header > h3 {
    font-weight: 400;
    color: #555;
}

.problem-statements-image {
    padding: 8rem;
}

.problem-statements-icon {
    max-width: 17rem;
    border-radius: 1rem;
    box-shadow: -15px 20px 50px #72727266;
}

.problem-statements-list {
    padding: 1rem 2rem;
    font-size: 1.3rem;
}

.problem-statements-list li {
    line-height: 2rem;
}

.problem-statements-buttons {
    display: flex;
    color: white;
    padding: 1rem 0;
}

.problem-statements-buttons a {
    margin-left: 1rem;
}

.problem-statements-buttons div {
    padding: 1rem;
    margin: 0 1rem;
    min-width: 7rem;
    height: max-content;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.problem-statements-register {
    background-color: #4e71e3;
    box-shadow: 1px 1px 10px #4e71e3aa;
}

.problem-statements-register:hover {
    background-color: #4ebbe3;
    box-shadow: 5px 5px 20px #4ebbe3bb;
    transform: scale(1.1);
}

.problem-statements-rules {
    background-color: #db2523;
    box-shadow: 1px 1px 10px #db2523aa;
}

.problem-statements-rules:hover {
    background-color: #f84642;
    box-shadow: 5px 5px 20px #f84642bb;
    transform: scale(1.1);
}

/* rewards section */

#rewards{
    height: auto;
    /* padding: 2rem; */
    /* background-color: blue; */
}

.rewards-container{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    box-shadow: -15px 20px 50px 15px #72727266;
}

.rewards-image{
    padding: 8rem;
    text-align: center;
}

.rewards-icon{
    max-width: 17rem;
    border-radius: 1rem;
}


.rewards-text {
    padding: 1rem;
    color: #555;
}

.rewards-header > h2 {
    font-size: 3.5rem;
    font-weight: 400;
    padding: 2rem 0rem;
}


.rewards-list {
    padding: 4rem 2rem;
    font-size: 1.3rem;
}

.rewards-list li {
    line-height: 2rem;
}

@media only screen and (max-width: 600px) {

    /* about section  */
    .about-container {
        flex-direction: column;
        padding: 1rem;
    }
    
    .about-image {
        display: flex;
        justify-content: center;
    }

    .about-frame {
        display: none;
    }
    
    .about-icon {
        padding: 0rem;
        width: 15rem;
        height: 15rem;
        box-shadow: none;
    }
    
    .about-text {
        padding: 0rem;
        min-width: auto;
        font-size: 1.3rem;
        text-align: center;
    }
    
    .about-body > p {
        padding: 0.7rem;
        line-height: 2.1rem;
    }

    .about-extra {
        margin: auto;
    }
    /* event-format section  */
    
    .event-format-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
        grid-gap: 5rem;
    }

    .event-format-card {
        min-height: 30rem;
        line-height: 2rem;
    }

    .event-format-header {
        font-size: 1.6rem;
    }

    .event-format-subheader {
        font-size: 1.4rem;
    }

    .event-format-body {
        font-size: 1.2rem;
    }

    .event-format-card :hover {
        background-color: white;
        color: #121212;
        transition: 0s;
    }

    /* problem-statements section */
    .problem-statements-container {
        flex-direction: column;
        margin-top: 5rem;
    }
    
    .problem-statements-text {
        text-align: center;
        padding: 0;
    }

    .problem-statements-image {
        padding: 0;
        text-align: center;
    }

    .problem-statements-icon {
        max-width: 12rem;
    }

    .problem-statements-list {
        text-align: left;
    }

    .problem-statements-buttons {
        flex-direction: column;
    }

    .problem-statements-buttons > div {
        padding: 1.5rem;
        min-width: 8rem;
        margin: auto;
        margin-bottom: 1rem;
        text-align: left;
    }

    .problem-statements-buttons a {
        font-size: 1.2rem;
    }

    /* rewards */

    .rewards-container {
        flex-direction: column;
        margin-top: 5rem;
    }
    
    .rewards-text {
        text-align: center;
        padding: 0;
    }

    .rewards-image {
        padding: 0;
        text-align: center;
    }

    .rewards-icon {
        max-width: 12rem;
    }

    .rewards-list {
        text-align: left;
        padding: 1rem 2rem;
    }

}