* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 1rem; */
    font-weight: 400;
    color: #777;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;                       /*added on may 14 for smooth scrolling on clicking the navbar links*/
}

/* section {
    min-height: 100vh;
} */

h1 {
    font-size: 2rem;
    color: #555;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

section {
    width: 100%;
}

/* navbar */

nav {
    --duration: .2s;
    --easing: ease-in-out;
    position: fixed;
    width: 220px;
    margin: 20px;
    z-index: 10;
    right: 0;

/*added on 12th may*/
    transition-delay:.9s;  
    border-style: solid;                    
    border-color: rgb(47,196,255);                   
}

nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: -4px 0 0 0;
}

nav a {
    display: block;
    text-decoration: none;
    /*background: #fff;*/
    /*changed on 6th may*/
    background: rgb(255, 255, 255);
    /*changed on 6th may*/
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    padding: 1em 1.52em;
    /*6th may evening*/
    color:black;
    box-shadow: 0 10px 15px 2px rgba(47,196,255,0.4);
}

nav a:hover {
    background: #efefef;
}

/*added on 12th may*/
nav.closed{   
  border-radius:unset;                          
  border-style: unset;                    
  border-color: unset;        
}

nav.closed a:hover{   /*added to remove on-hover colour change of navbar icon*/
    background:#fff;
}

nav .sub-menu a {
    font-size: .9em;
    color: #666666;
    border-left: 2em solid white;
    padding: .75em;
    background: linear-gradient(to right, #dddddd 2px, #ffffff 2px);
}

nav .sub-menu a:hover {
    background: linear-gradient(to right, #dddddd 2px, #efefef 2px);
}

nav header {
    font-weight: 600;
    display: block;
    /*background: rgba(255, 255, 255, 0.5); */
    /*changed on 6th may*/
    background: rgb(47, 196, 255, 0.5);
    /*changed on 6th may*/
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    padding: 1em 1.52em;
    color:rgba(0,0,0,0.5);
    /*6th may evening
    
    box-shadow:20px 20px 25px rgb(47,196,255);*/
}

nav header span {
    border: none;
    background: transparent;
    font-size: 1.5em;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    float: right;
}

nav footer button {
    position: absolute;
    top: 0;
    border: none;
    padding: calc(1em - 2px);
    width: 100%;
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing);
    transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
    cursor: pointer;
    outline: none;
    background: #cdcdcd;
    opacity: 0;
}

nav.closed a, nav.closed header {
    transform: translateY(calc(var(--top) * -1)) translateX(calc(var(--left)* -0.75)) scaleY(0.1) scaleX(0.2);
    transition-delay: var(--delay-in);
    color: transparent;
}

nav.closed footer button {
    transition-delay: 0s;
    transform: scaleY(1) scaleX(0.45);
}

/*modification made for click oversized*/

nav.closed footer button {
    width: 50%;
    margin-right: 40%;
    margin-left: 81%;
}

/* about section */

#about-section {
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 20rem;
}

.about-image {
    display: flex;
}

.about-frame {
    height: 12rem;
    width: 12rem;
    background-color: #4EC7E3;
    margin: -3rem;
    position: absolute;
    z-index: -99;
}

.about-icon {
    padding: 8rem;
    width: 15rem;
    height: 15rem;
    box-shadow: -15px 20px 50px #72727266;
    background-color: white;
}

.about-text {
    padding: 2rem;
    min-width: 38rem;
    color: #121212;
}

.about-header {
    padding: 1rem;
    padding-left: 1.5rem;
}

.about-header>h1 {
    font-size: 40px;
    font-weight: 400;
}

.about-extra {
    background-color: #007BFF;
    color: white;
    height: 4rem;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.about-body>p {
    padding: 0.7rem;
    padding-left: 1.5rem;
    line-height: 26px;
    font-size: 15px;
}

/* event-format section */

#event-format {
    min-height: 100vh;
    height: auto;
}

.event-section-header {
    text-align: center;
}

.event-section-header>h1 {
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.event-section-header>h4 {
    font-weight: 500;
    padding: 1rem;
}

.event-format-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 10%;
    margin-top: 100px;
    width: auto;
}

.event-format-container h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

.event-format-container h4 {
    font-size: 1.25rem;
    font-weight: 500;
}

.event-format-card {
    display: flex;
    background-color: white;
    color: #121212;
    line-height: 1.5;
}

.event-card {
    text-align: center;
    color: #121212;
    /* border: solid 1px #4EC7E3; */
    border-radius: 6px;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: 5px 5px 20px #4EC7E3bb;
}

.event-format-card :hover {
    background-color: #4EC7E3;
    color: white;
    transition: 1s;
}

.event-format-icon {
    margin-top: -6rem;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;
    border: solid 1px#4EC7E3;
}

.event-format-header, .event-format-subheader, .event-format-body {
    padding: 1.5rem 0;
}

.event-format-body {
    font-size: 15px;
}

/* problem statements section */

#problem-statements {
    height: auto;
    /* min-height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.problem-statements-container {
    display: flex;
    padding: 4rem;
    margin: 2rem;
}

.problem-statements-text {
    padding: 1rem;
    color: #555;
}

.problem-statements-header>h2 {
    font-size: 3.5rem;
    font-weight: 400;
    padding: 2rem 0rem;
}

.problem-statements-header>h3 {
    font-weight: 400;
    color: #555;
}

.problem-statements-image {
    padding: 8rem;
}

.problem-statements-icon {
    max-width: 17rem;
    border-radius: 1rem;
    box-shadow: -15px 20px 50px #72727266;
}

.problem-statements-list {
    padding: 1rem 2rem;
    font-size: 1.3rem;
}

.problem-statements-list li {
    line-height: 2rem;
}

.problem-statements-buttons {
    display: flex;
    color: white;
    padding: 1rem 0;
}

.problem-statements-buttons a {
    margin-left: 1rem;
}

.problem-statements-buttons div {
    padding: 1rem;
    margin: 0 1rem;
    min-width: 7rem;
    height: max-content;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.problem-statements-register {
    background-color: #4e71e3;
    box-shadow: 1px 1px 10px #4e71e3aa;
}

.problem-statements-register:hover {
    background-color: #4ebbe3;
    box-shadow: 5px 5px 20px #4ebbe3bb;
    transform: scale(1.1);
}

.problem-statements-rules {
    background-color: #db2523;
    box-shadow: 1px 1px 10px #db2523aa;
}

.problem-statements-rules:hover {
    background-color: #f84642;
    box-shadow: 5px 5px 20px #f84642bb;
    transform: scale(1.1);
}

/* rewards section */

#rewards {
    height: auto;
    min-height: 90vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.rewards-container {
    display: flex;
    height: 100%;
    margin: 2rem;
    padding: 2rem 0;
    background-color: #4e71e3;
    box-shadow: -15px 20px 50px #72727266;
    border-radius: 6px;
}

.rewards-image {
    padding: 7rem;
    display: flex;
}

.rewards-icon {
    max-height: 15rem;
    border-radius: 12px;
    box-shadow: -15px 20px 50px #002cbdbb;
}

.rewards-text {
    padding: 2rem;
    font-size: 1.3rem;
    color: white;
}

.rewards-list {
    padding-left: 1rem;
}

.rewards-list li {
    line-height: 2.5rem;
}

.rewards-header>h2 {
    font-size: 3.5rem;
    font-weight: 400;
    padding: 2rem 0rem;
}

/* ibeto jr */

#ibetojr {
    min-height: 40vh;
    height: auto;
    width: 100vw;
    background: #4ebbe3bb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ibetojr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ibetojr-container>h1 {
    color: white;
}

.ibetojr-container>h2 {
    color: white;
}

/* contacts  */

#contacts {
    min-height: 70vh;
    height: auto;
}

.contact-container{
    padding: 2rem 1rem;
}
.contact-row {
    /* padding: 2rem 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-cards {
    margin: 1rem 3rem;
    padding: 1rem 4rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px #4EC7E3bb;
}

.contact-img {
    display: flex;
    justify-content: center;
}

.contact-img>img {
    max-width: 8rem;
    border-radius: 100%;
    margin: 1rem;
}

.contact-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.contact-desc > a {
    padding: 5px 0;
}
@media only screen and (max-width: 600px) {
    /* about section  */
    #about-section {
        height: auto;
    }
    .about-container {
        flex-direction: column;
        padding: 1rem;
    }
    .about-image {
        display: flex;
        justify-content: center;
    }
    .about-frame {
        display: none;
    }
    .about-icon {
        padding: 0rem;
        width: 15rem;
        height: 15rem;
        box-shadow: none;
    }
    .about-text {
        padding: 0rem;
        min-width: auto;
        font-size: 1.3rem;
        text-align: center;
    }
    .about-body>p {
        padding: 0.7rem;
        line-height: 2.1rem;
    }
    .about-extra {
        margin: auto;
    }
    /* event-format section  */
    #event-format {
        height: auto;
    }
    .event-card {
        padding: 0;
    }
    .event-section-header {
        padding: 2rem;
    }
    .event-format-container {
        grid-template-columns: repeat(1, 1fr);
        /* padding: 1rem; */
        grid-gap: 5rem;
    }
    .event-format-header>h3 {
        font-size: 25px;
    }
    .event-format-subheader>h4 {
        font-size: 20px;
    }
    .event-format-card {
        margin-top: 1.5rem;
        /* min-height: 30rem; */
        height: auto;
        line-height: 2rem;
    }
    .event-format-header {
        font-size: 1.6rem;
        padding: 1rem 0;
    }
    .event-format-subheader {
        font-size: 1.4rem;
        padding: 1rem 0;
    }
    .event-format-body {
        font-size: 15px;
        padding: 1.5rem 1.5rem 2rem 1.5rem;
    }
    .event-format-card :hover {
        background-color: white;
        color: #121212;
        transition: 0s;
    }
    /* problem-statements section */
    #problem-statements {
        min-height: 80vh;
        height: auto;
    }
    .problem-statements-container {
        flex-direction: column;
        margin-top: 5rem;
    }
    .problem-statements-text {
        text-align: center;
        padding: 0;
    }
    .problem-statements-image {
        padding: 0;
        text-align: center;
    }
    .problem-statements-icon {
        max-width: 12rem;
    }
    .problem-statements-list {
        text-align: left;
    }
    .problem-statements-buttons {
        flex-direction: column;
    }
    .problem-statements-buttons>div {
        padding: 1.5rem;
        min-width: 8rem;
        margin: auto;
        margin-bottom: 1rem;
        text-align: left;
    }
    .problem-statements-buttons a {
        font-size: 1.2rem;
    }
    /* rewards */
    #rewards {
        margin: 0rem;
    }
    #rewards {
        height: auto;
    }
    .rewards-container {
        flex-direction: column;
        margin: 0;
        border-radius: 0;
        padding-top: 7rem;
    }
    .rewards-text {
        text-align: center;
        padding: 0;
    }
    .rewards-header {}
    .rewards-image {
        padding: 0;
        justify-content: center;
    }
    .rewards-icon {
        max-width: 12rem;
    }
    .rewards-list {
        text-align: left;
        padding: 1rem 3rem;
    }
    .rewards-list li {
        line-height: 2.5rem;
    }
    .contact-container{
        margin: 0;
        padding: 0;
    }
    .contact-row {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .contact-cards{
        padding: 1rem 2rem;
        margin: 1rem;
    }
    .contact-img > img {
        max-width: 4rem;
    }
    .contact-desc{
        padding: 1.25rem;
    }
}

@media only screen and (min-width:1500px) {
    .event-format-container {
        margin: 20%;
        margin-top: 100px;
    }
}